$primary: #29d7ff;
$primary-mask: #29d7ff50;
$primary-active: #4bf9ff;
$secondary: #d927ff;
$secondary-active: #fb49ff;
$tertiary: #837dff;
$tertiary-active: #a59fff;
$cancel: #ff4949;
$cancel-active: #ff6b6b;


$bright-text-primary: #fff;
$bright-placeholder: #d1d1d1;
$dark-text-primary: #000;
$dark-placeholder: #636363;

$dark-background: #1d1d1d;
$white-background: #f2f2f2;