$primary: #2be86b;
$primary-mask: #2be86b50;
$primary-active: #4dfa8d;
$secondary: #29fdbd;
$secondary-active: #4bffdf;
$cancel: #ff4949;
$cancel-active: #ff6b6b;

$bright-text-primary: #f1f1f1;
$bright-placeholder: #d1d1d1;
$dark-text-primary: #333;
$dark-placeholder: #636363;

$dark-background: #324e3b;
$white-background: #eefaef;
