@import '../../../styles/colors';

.heading {
  &--h1 {
    color: $primary;
    font-weight: 900;
  }
  &--h2 {
    font-weight: 700;
  }
}

.link {
  color: $primary !important;
  text-decoration: underline;
  font-weight: 600;
}
