.modalContainer {
  display: flex;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.hidden {
  display: none;
}

.modal {
  background-color: white;
  z-index: 100;
  margin: auto;
}
