.courseSearcher {
  .search-input {
    display: flex;
    flex-direction: column;
    label {
      padding-bottom: 0.5rem;
    }
  }

  .utils-list {
    li {
      padding: 0.5rem 0;
    }
  }

  .tags-picker {
    li {
      padding-bottom: 0.3rem;
      padding-left: 1rem;
    }
  }
}
