@import '../../../styles/colors';

.coursePreview {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;

  width: 100%;
  align-items: center;

  .propertyRow {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    width: 100%;
    align-items: center;
  
    .propertyName {
      display: flex;
      flex: 1 1 auto;
      max-width: 25%;
    }
    .propertyValue {
      display: flex;
      flex: 1 1 auto;
      max-width: 50%;
    }
    .propertyControls {
      display: flex;
      flex: 1 1 auto;
      max-width: 25%;
    }

  }

  .tags {
    list-style: none;
    padding: 0;

    .tag {
      padding: .5rem 1rem;
      background-color: $secondary;
      border-radius: .5rem;

      margin-right: 1rem;
    }
  }  
}

.newLessonForm {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 1rem 15vw;

  .field {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
  }

  .label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .markdownEditor {
    min-height: 50vh;
  }

}

.previewNavigator {
  list-style: none;
  padding: 0;

  li {
    font-size: 1.4rem;
    padding: .5rem 0;

    &:hover {
      font-weight: 600;
    }

    &.active, &.active:hover {
      font-weight: bold;
    }
  }



}