@import "../../../config/colors";

.base {
  display: flex;
  flex-direction: column;
  border-right: 5px solid $secondary;
  padding: 1em;

  font-size: 1.2rem;

  background: rgba(204, 204, 204, 0.18823529411764706);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);

  .header {
    h1 {
      font-size: 1.6em;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;

      &::selection,
      *::selection {
        background-color: $secondary;
        color: $bright-text-primary;
      }
    }
    margin-bottom: 3em;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .textInput {
      margin: 0.5em;
      border: none;
      border-bottom: 0.25em solid $bright-placeholder;

      background: rgba(204, 204, 204, 0.18823529411764706);
      backdrop-filter: blur(3.6px);
      -webkit-backdrop-filter: blur(3.6px);

      font-size: 1.3em;
      padding: 0.5em;

      max-width: 100%;

      transition: all 0.5s ease-out;

      &:focus {
        $_startColor: #ffffff00;
        $_endColor: $primary-mask;
        outline: none;

        border-bottom: 0.25em solid $primary;

        background: rgba(255, 255, 255, 0);
        background: -moz-linear-gradient(top, $_startColor 0%, $_endColor 100%);
        background: -webkit-gradient(
          left top,
          left bottom,
          color-stop(0%, $_startColor),
          color-stop(100%, $_endColor)
        );
        background: -webkit-linear-gradient(
          top,
          $_startColor 0%,
          $_endColor 100%
        );
        background: -o-linear-gradient(top, $_startColor 0%, $_endColor 100%);
        background: -ms-linear-gradient(top, $_startColor 0%, $_endColor 100%);
        background: linear-gradient(
          to bottom,
          $_startColor 0%,
          $_endColor 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$_startColor, endColorstr=$_endColor, GradientType=0 );
      }
      &::selection,
      *::selection {
        background-color: $secondary;
        color: $bright-text-primary;
      }
    }
    .hint {
      text-align: center;
      font-size: 1em;
      font-weight: 800;
      margin: 1em;

      p {
        margin: 0;
      }
      a {
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
      &::selection,
      *::selection {
        background-color: $primary;
        color: $bright-text-primary;
      }
    }
  }
}
